language: python

python:
  - "3.6"

# command to install dependencies
install: 
  - pip3 install -q -r requirements.txt
  - pip3 install -q -r source/_scripts/_python/requirements.txt

# command to run tests
script: 
  - make py
  - make htmlzh

before_deploy:
  - make linkcheck
  - tar -zcvf clearlinux-docs-zh-CN.tar.gz -C source/_build/zh_CN .

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    file: clearlinux-docs-zh-CN.tar.gz
    on:
      tags: true